.form__button {
    min-width: 358px;
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    border-radius: 2px;
    color: #ffffff;
    margin-top: 31px;
    cursor: pointer;
    transition: 0.5s linear;
    border: none;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.form__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .form__button {
        min-width: 238px;
        font-size: 14px;
        line-height: 17px;
        margin-top: 0;
    }
}