.popup__title {
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    position: absolute;
    bottom: -5%;
    left: 0;
}

@media screen and (max-width: 320px) {
    .popup__title {
        bottom: -20%;
    }
}