.element__trash {
    position: absolute;
    top: 18px;
    right: 15px;
    background-image: url(../../../images/Trash.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 19px;
    height: 20px;
    cursor: pointer;
}

.element__trash:hover {
    opacity: 0.6;
}